<button class="close">&times;</button>

<h1>{{strings.theTitle}}</h1>
<p>{{strings.thePitch}}</p>
<p>{{strings.example}}: <a class="example-route" href="#">{{strings.theRoute}}</a>.</p>

<p>{{strings.theCoverage}}</p>
