<a href="#">
  <div class="row stats">
    <dl class="time pull-left">
      <dt>Lähtö</dt>
      <dd>{{depTime}}—</dd>
      {{#if boardingTime}}
      <dt class="secondary">{{boardingType}}</dt>
      <dd class="secondary">{{boardingTime}}</dd>
      {{/if}}
    </dl>
    <dl class="time pull-left">
      <dt>Perillä</dt>
      <dd>{{arrTime}}</dd>
    </dl>
    <dl class="duration pull-right">
      <dt>Kesto</dt>
      <dd>{{totalDuration}}</dd>
      <dt class="secondary">Kävelyä</dt>
      <dd class="secondary">{{totalWalkingDistance}}</dd>
    </dl>
  </div>
  <ol class="route-graph unstyled centered"></ol>
</a>
