{{#each_with_index legs}}
  <li class="bumper bumper-left clear-left" style="width: {{percentageBefore}}%;">
    <span class="leg-info">
      {{#each outerLeft}}
        {{this}}
      {{/each}}
    </span>
  </li>
  <li data-leg="{{index}}" class="leg-{{type}}" style="width: {{percentage}}%;">
    <div class="leg-bar">
      <span class="leg-info leg-info-inner-left">
        {{#each innerLeft}}
          {{this}}
        {{/each}}
      </span>
      <span class="leg-info leg-info-inner-right">
        {{#each innerRight}}
          {{this}}
        {{/each}}
      </span>
      {{#if iconVisible}}
        <div class="leg-icon"></div>
      {{/if}}
    </div>
    <span class="leg-indicator">{{indicator}}</span>
  </li>
  <li class="bumper bumper-right" style="width: {{percentageAfter}}%;">
    <span class="leg-info">
      {{#each outerRight}}
        {{this}}
      {{/each}}
    </span>
  </li>
{{/each_with_index}}
