{{#each_with_index legs}}

  <li data-leg="{{index}}" class="leg-info leg-info-left" style="left: 0; width: {{percentageBefore}}%;">
    <div class="leg-info-content">
      {{#each outerLeft}}
        {{this}}
      {{/each}}
    </div>
  </li>

  <li data-leg="{{index}}"
      class="leg-{{type}}"
      style="left: {{percentageBefore}}%; width: {{percentage}}%;">
    <div class="leg-bar">
      {{#if iconVisible}}
        <i></i>
      {{/if}}
    </div>
    <span class="leg-indicator">{{indicator}}</span>
  </li>

  <li data-leg="{{index}}" class="leg-info leg-info-right" style="left: {{percentageBeforeAndDuring}}%; width: {{percentageAfter}}%;">
    <div class="leg-info-content">
      {{#each outerRight}}
        {{this}}
      {{/each}}
    </div>  
  </li>

{{/each_with_index}}
