{{#each_with_index legs}}

  <li data-leg="{{index}}"
      data-type="{{type}}"
      class="leg leg-{{type}}"
      style="left: {{widthBefore}}; width: {{width}};">
    <div class="leg-bar">
      <i></i>
    </div>
    <span class="leg-indicator">{{indicator}}</span>
  </li>

  <li data-leg="{{index}}"
      data-type="{{type}}"
      class="leg-info"
      style="display: none;">
    <div class="leg-info-content times">{{times}}</div>
    <div class="leg-info-content transport">{{transport}}</div>
    <div class="leg-info-content arrow">&rarr;</div>
    <div class="leg-info-content destination">{{destination}}</div>
  </li>

{{/each_with_index}}
