{{#each_with_index legs}}

  <li data-leg="{{index}}"
      data-type="{{type}}"
      class="leg leg-{{type}}"
      style="left: {{widthBefore}}; width: {{width}};">
    <div class="leg-bar horizontal">
      <i></i>
    </div>
    <span class="leg-indicator">{{indicator}}{{#if highFloored}}<sub class="floor-indicator" title="{{strings.highFlooredLong}}">{{strings.highFlooredShort}}{{/if}}</sub>
  </li>

{{/each_with_index}}
