<a href="#">
  <div class="row-fluid">
    <div class="span2">
      <h4 class="departure-time">{{depTime}}</h4>
    </div>
    <div class="span8">
      <ol class="leg-icons unstyled centered">
        {{#each_with_index legs}}
        <li data-leg="{{index}}">
          <span class="leg-icon leg-icon-{{type}}" href="#"></span>
          <span>{{indicator}}</span>
        </li>
        {{/each_with_index}}
      </ol>
    </div>
    <div class="span2">
      <h4 class="arrive-time">{{arrTime}}</h4>
    </div>
  </div>
</a>
