<a href="#">
  <i class="icon-chevron-right"></i>
  <h4 class="times">{{depTime}} &rarr; {{arrTime}}</h4>
  <ol class="leg-icons unstyled">
    {{#each legs}}
      <li class="leg-icon-{{type}}" style="background-color: {{color}}">
        {{indicator}}
      </li>
    {{/each}}
  </ol>
</a>

